@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

nav {
	text-align: center;
	padding: 10px;
	margin: 0;
	top: 0;
	color: white;
}

body {
	background-image: url('assets/perpus.jpg');
	background-size: cover;
	display: block;
	padding: 0px 20% 0px 20%;
}

main {
	padding: 10px;
	margin: 0px 100px 30px 100px;
	background-color: #F8F8F6;
	color: black;
	gap: 5px;
	border: 1px solid lightgrey;
}

.container-masukanBuku {
	padding: 20px;
}

.container-masukanBuku h3{
	text-align: center;
}

#con-judul, #con-penulis, #con-tahun, #con-submit{
	display: flex;
	flex-direction: column;
	padding: 5px 0px;
}

.container-cari {
	border-top: 1px solid lightgrey;
	padding: 20px;
	width: 100%;
}

.container-cari .inputCari {
	width: 79%;
}

.container-cari h3 {
	padding-bottom: 20px
}

.container-cari .submitCari {
	width: 20%;
	background-color:	#0492c2;
	color: white;
	border: 1px solid #005a92;
}

.container-cari h3{
	text-align: center;
}

.book_shelf {
	padding: 20px;
	border-top: 1px solid lightgrey;
}

input {
	height: 35px;
	border: 1px solid lightgrey;
	border-radius: 2px;
	padding: 0px 7px;
}

.checkbox {
	height: 15px;
}

input:hover {
	border: 1px solid #0492c2;
}

input:focus {
	outline: none;
	border: 2px solid #0492c2;
}

button {
	background-color: #0492c2;
	color: white;
	height: 35px;
	border: 1px solid #005a92;
}


#con-submit button:active, 
.container-cari .submitCari:active {
	border: 3px double #005a92;
}

#con-submit button:hover, 
.container-cari .submitCari:hover {
	font-weight: bolder;
}



